# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
.env

# Audio + model weights
backend/test_audio/
backend/uploads/

# Generated outputs
backend/transcripts/
backend/output/

# Node modules
frontend/node_modules/
frontend/.next/
